.panel.panel-default
  .panel-heading
    %h4= review.author
  .panel-body
    = review.content
    - if review.rating >= 4
      .bg-info
        Ocena:
        = review.rating
    - elsif review.rating == 3
      .bg-success
        Ocena:
        = review.rating
    - else
      .bg-danger
        Ocena:
        = review.rating
