!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    .container
      .row
        .col-md-2.col-md-offset-10
          #user-actions
            - unless current_user.nil?
              = link_to destroy_user_session_path, method: :delete, class: 'btn btn-info' do
                %i.glyphicon.glyphicon-log-out
                Log out,
                = current_user.firstname
            - else
              = link_to new_user_session_path, class: 'btn btn-success' do
                Log in
        .row
          .col-md-12
          = yield
