.panel.panel-default
  .panel-heading
    %h3 Sign up
  .panel-body
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = f.error_notification
      .form-group
        = f.label :email, class: 'col-md-2 col-xs-6'
        = f.text_field :email, required: true, class: 'form-control'


        = f.label :firstname, class: 'col-md-2 col-xs-6'
        = f.text_field :firstname, required: true, class: 'form-control'

        = f.label :lastname, class: 'col-md-2 col-xs-6'
        = f.text_field :lastname, required: true, class: 'form-control'

        = f.label :password, class: 'col-md-2 col-xs-6'
        = f.text_field :password, required: true, class: 'form-control'

        = f.label :password_confirmation, class: 'col-md-2 col-xs-6'
        = f.text_field :password_confirmation, required: true, class: 'form-control'
        
      .form-actions
        = f.submit 'Sign-up', class: 'btn btn-success btn-sm'
    = render "users/shared/links"
